**/node_modules
.github
.vscode
assets/icons
src
.commitlintrc.json
.gitattributes
.gitignore
.lintstagedrc.json
.prettierignore
.prettierrc.json
.vscodeignore
**/*.vsix
esbuild.js
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.eslint.json
tsconfig.json
